.file-buttons-container {
  height: 20vh;
  display: flex;
  margin-top: 15vh;
  align-items: center;
  justify-content: center;
}

.available-files-wrapper {
  height: 20vh;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.available-files {
  display: flex;
}

.available-files #open-basket-button {
  margin-right: 2vw;
  margin-left: 2vw;
}

body {
  background-color: springgreen;
}

h1 {
  margin-top: 15vh;
  color: brown;
}

button {
  background-color: lightsalmon;
}

button#open-basket-button {
  background-color: mediumpurple;
}

p {
  font-family: "Papyrus", serif;
  color: brown;
}

button:hover {
  background-color: white;
}
